*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main--container{
  border: 1px solid;
  width: 90%;
  height: 100%;
  margin: 10px auto;
  font-family: 'Century Gothic', monospace;
}

.wrapper{
  border: 1px solid red;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card--container{
  border: 1px solid green;
  width: 25%;
  flex-direction: column;
}